<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @task.title %>に応募がありました</h1>
    <p>
      task: <%= @task.title %><br>
      user: <%= @user.name %>
    </p>
  </body>
</html>
