<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39587251-7"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-39587251-7');
        gtag('config', 'AW-708023816');

      <% if request.path == '/thankyou' %>
        gtag('event', 'conversion', {'send_to': 'AW-708023816/YT3BCKq6kLEBEIisztEC'});
      <% end %>
      </script>
    <% end %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>プロプログラミング</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag 'application' %>
  </head>

  <body>
    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>

    <div id="root"></div>
  </body>
</html>
