<!DOCTYPE html>
<html class="full-height">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>プロプログラミング</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_bundle_tag 'landingPageStyle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
